#root {
  max-width: 100vw;
  margin: 0 auto;
}

body {
  /* background-image: url('./assets/food-1932466_1920.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw 120vh;
  overflow: hidden;
}

.navbar{
  display: flex;
  justify-content: space-around;
  margin: .5rem auto;
  width:95vw
}

.linkContainer {
  display: flex;
  gap:1rem;
  margin: .5rem auto;
  width:95vw
}

.welcome {
 display: flex;
  gap:1rem;
  align-items: center;
width: 20vw;
}

.logOutBtn {
  color: white;
  background-color: black;

}

section {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.link {
  color: darkcyan;
}

.active {
  color: brown;
}

label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

.btn {
  background-color: darkgray;
  color: aqua;
  width: 10rem;
}

.editBtn {
    color: red;
  margin-left: .7rem;
  margin-bottom: 1.7rem;
  padding: 1px;
  width: 4rem;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
}

.deleteBtn {
  color: red;
  background-color: #f9f9f9;
  margin-left: 1rem;
  padding-top: 4px;
  padding-bottom: 4px;
}

small {
  color: red;
  display: block;
  margin-bottom: 10px;
  margin-top: -15px;
}

.createRecipeForm {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
}

.plusMinusBtn {
  background-color: darkcyan;
  margin-left: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.directions {
  height: 8rem;
  margin-bottom: 1rem;
  width: 22rem;
}

.recipesLink {
  color: black; 
}



.recipesLink:hover {
  color: darkcyan;
  
}


.RecipesList {
  box-shadow: 1px 1px 3px black;
} 

.RecipesList:hover {
  box-shadow: inset 1px 1px 3px black;
}

.RecipeTitle:nth-child(odd) {
  background-color: #cac1c1;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
}

.RecipeTitle:nth-child(even) {
  background-color: #e6e6e6;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
}

.individualRecipeTittle {
  display: flex;
  align-items: center;
}