.btn {
  color: whitesmoke;
  box-shadow: 3px 3px 10px -4px black;
  border: none;
  font-weight: bolder;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin: 5px;
}

.btn:focus {
  color: salmon;
  box-shadow: none;
}
